@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Passion+One&display=swap');

:root{
 --font1:verdana,Geneva,Tahoma, sans-serif;
 --font_passion: 'Passion One', cursive;
 --font_gloock: 'Gloock', serif;
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    min-height: 100vh;
    font-family: var(--font1);
   
}

header{
    background-color: black;
    color: white;
    text-align: center;
    

}

header > h1{
    padding-top: 50px;
    font-size: 2em;
    font-variant: small-caps;
    padding:50px;
    font-family: var(--font_passion);
    font-size:10vw;

}

header > p{
    padding-bottom:50px;
    font-size: 20px;
    padding: -10px;
    
}

header a, footer a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font_gloock);
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 1.5em;
}

section.normal{
    background-color: rgb(238, 237, 237);
    
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 3px;
    padding: 10px;
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.384);
   
}

section.imagem{
    background-color: rgb(71, 28, 228);
    color:white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
    background-size: cover;
  
}

section#img1{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;

}

section#img2{
    background-image: url(../imagens/background002.jpg);
    background-position: center center;
    background-attachment: fixed;
}

footer{
    background-color: black;
    text-align: center;
    color:white;
    padding: 5px;
}

